<!-- Content Start -->
<!-- <div class="content"> -->
    
    <!-- Breadcrums Start -->
    <!-- <div class="Bread pt-1 px-1">
        <div style="margin:20px;">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/Home">Home</a>
                    </li>
                    <li class="breadcrumb-item active">My Profile </li>
                </ol>
            </nav>
        </div>
    </div> -->
    <!-- Breadcrums End -->
    
    <!-- <section>
        <h2 class="pt-4 px-4">My Profile</h2>
    </section>
    
    <div class="card mb-3 p-4 px-4 py-4 ms-4" style="width: 600px">
        <div class="row g-0">
            <div class="col-md-4">
                <img [src]="data.image" class="img-fluid rounded-start" alt="image">
            </div>
            <div class="col-md-8">
                    <div class="card-body text-left">
                        <div class="">
                            <h5 class="text-muted">Name : {{data.userName}} </h5>
                            <h5 class="text-muted">Role : {{data.role.name}}</h5>
                            <h5 class="text-muted">Department : {{data.department.name}}</h5>
                            <h5 class="text-muted">Employee ID : {{data.employeeId}}</h5>
                            <h5 class="text-muted">Fullname : {{data.fullName}}</h5>
                            <h5 class="text-muted">E-Mail : {{data.email}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-footer></app-footer> -->
    
    
    
    <!-- Content Start -->
    <div class="content">
    <app-sidebar></app-sidebar>
    
    <div class="Bread pt-1 px-1">
        <div style="margin:20px;">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/Home">Home</a>
                    </li>
                    <li class="breadcrumb-item active">My Profile </li>
                </ol>
            </nav>
        </div>
    </div>

<section>
  <h2 class="pt-4 px-4">My Profile</h2>
</section>

<div class="card mb-3 p-4 px-4 py-4 ms-4" style="width: 600px">
          <div class="row g-0">
            <div class="col-md-4">
              <img [src]="data.image" class="img-fluid rounded-start" alt="image" style="width: 200px;">
            </div>
            <div class="col-md-8">
              <div class="card-body text-left">
                <h5 class="card-title">Name :  {{data.userName}}</h5>
                <h5 class="card-title">Role : {{data.role.name}}</h5>
  
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 p-4 px-4 py-4 ms-4" style="width: 600px">
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body text-left">
                <h5 class="card-title">Personal Details</h5>
                <p>Employee ID : {{data.employeeId}}</p>
                <p>Fullname : {{data.fullName}}</p>
                <p>E-Mail : {{data.email}}</p>
  
  
              </div>
            </div>
          </div>
        </div>
  
        <footer>
          <app-footer></app-footer>
        </footer>